@{
    ViewBag.Title = "About";
}

<h2 class="h2">O nas
</h2>

<div class="about-us text-justify">
    IMHO to skrót od angielskiego zwrotu 'in my humble opinion', czyli 'moim skromnym zdaniem'. 
    Nasz sklep powstał z myślą o kształtowaniu opinii. Można u nas znaleźć sprawdzone informacje o poglądach z najróżniejszych
     dziedzin - od filozofii poprzez politykę i gospodarkę aż do religii.
    Dzięki naszym produktom nie będziesz miał problemu z wyrażeniem swojego zdania: tytuły książek, autorytety krajowe i
     międzynarodowe, cytaty, dogmaty, statystyki, badania naukowe - wszystko to 
    zapewnimy w jak najprzystępniejszej formie. 
    Dzięki nam będziesz mógł wziąć czynny i merytoryczny udział w dyskusji na dowolny temat!
</div>
<div class="about-us text-left">
    Nasz sklep jest projektem na przedmiot Biznes elektroniczny prowadzony przez dr Piotra Brudło na Politechnice Gdańskiej w roku akademickim 2014/2015.
</div>