@model IEnumerable<ImhoWebstore.Models.Product>

@{
    ViewBag.Title = "Home Page";
}


    <div class="products">
        <div class="h2 text-info"><h1>Najnowsze produkty</h1></div>
        <div>
            @foreach (var pr in Model)
            {
                <div>
                    <h2 class="col-md-2">@Html.ActionLink(pr.Name, "Details", "Product", new {productId = pr.Id}, null)</h2>
                </div>
            }
        </div>
    </div>