@model IEnumerable<ImhoWebstore.Models.Product>

@{
    ViewBag.Title = "Home Page";
}


    <div class="products">
        <div class="h2 text-info"><h1>Najnowsze produkty</h1></div>
        <div>
            @foreach (var pr in Model)
            {
                <div class="new-item col-md-3">
                    <img src="~/Images/Products/@pr.ImageUrl" class="img-thumbnail" />
                    <h2>@Html.ActionLink(pr.Name, "Details", "Product", new { productId = pr.Id }, new { @class = "" })</h2>
                </div>
            }
        </div>
    </div>