@model IEnumerable<ImhoWebstore.Models.Product>

@{
    ViewBag.Title = "List";
}
<div class="products-list">
    <h2 class="h2 text-center">@ViewBag.Category</h2>

    @if (@Model.Any())
    {
        <div class="items">
            @foreach (var pr in @Model)
            {

                <div class="col-md-2">
                    <img class="img-thumbnail" src="~/Images/Products/@pr.ImageUrl" />
                    <h3>@Html.ActionLink(pr.Name, "Details", "Product", new { productId = pr.Id }, new { @class = "" })</h3>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            Brak produktów w tej kategorii.
        </div>
    }
</div>